main {
  display: grid;
  grid-template-columns: repeat(3, 90px);
  grid-gap: 0;
}

app-square {
  border: 1px solid gray;
  height: 90px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin-bottom: 16px;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.2em;
}

@media (min-width: 426px) {
  main {
    grid-template-columns: repeat(3, 120px);
  }
  app-square {
    height: 120px;
  }
}
